/*CSS theme for every page*/

/*Nie dotykaj*/
html {
	height:150%px;
	background:darkred;
}
/*To jest główny tytuł*/
#maintitle {
	position:absolute;
	top:0px;
	left:10px;
	font-family:'HelveticaNeue-UltraLight';
	font-size:64px;
	color:black;
	font-weight:300;
	z-index: 0;
}
/*To jest główna strona, to gdzie jest text i zdjęcia*/
.bodybkg {
	position:absolute;
	height:150%px];
	width:900px;
	background:lightgray;
	left:0;
	right:0;
	top:0;
	margin-left: auto;
	margin-right: auto;
}
/*force container will push down ipsum and lorem*/
#force {
	position: relative;
	height:60px;
}
#herb {
	position:absolute;
	top:60px;
	left:5px;
	width:140px;
/* manage the opacity of the logo depending on the page, leave commented unless you plan on altering it*/
	opacity:0.2;
	z-index: 0;
}
.ipsum {
	position: relative;
	left:10px;
	font-family:'HelveticaNeue-UltraLight';
	font-weight:300;
	font-size:36px;
	width:800px;
}
.lorem {
	position: relative;
	top:-30px;
	left:50px;
	font-family:'HelveticaNeue-Light';
	font-weight:300;
	font-size:18px;
	width:800px;
	text-align:justify;
}
footer {
	font-size:12px;
	color:black;
	font-family:'HelveticaNeue-Light';
	text-align: center;
}